<!-- views/board.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ADAM Travel</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vegas.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/templatemo-style.css">
</head>
<body>
    <%- include('sidebar.ejs') %>
    
    <!-- 게시판 내용 추가 -->
    <section id="board" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="board-content text-center"> <!-- text-center 클래스 추가 -->
                        <h1>Dash Rendering Example!</h1>
                        <p>This is the board content.</p>
                        <!-- 여기에 게시판의 내용을 추가할 수 있습니다. -->
                        <!-- Dash 와 node 연동 -->
                        <iframe class="iframe" src="https://vidkidz.tistory.com/85" frameborder="0" style="background-color:#fafafa9f;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SCRIPTS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vegas.min.js"></script>
    <script src="js/custom.js"></script>
    <style>
        .iframe {
            width: 100%;
            height: 90vh; /* 조절하고 싶은 높이로 변경하세요 */
            max-width: 2000px; /* 최대 너비 지정 */
            margin: 0; /* 가운데 정렬을 위한 스타일 */
            display: block; /* block 요소로 설정 */

        }
    </style>
</body>
</html>
